name: PGI

services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - BROWSER=none
      - HOST=0.0.0.0
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - pgi-networks
    depends_on:
      - api

  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./api:/var/www/html
    networks:
      - pgi-networks
    depends_on:
      - db

  db:
    container_name: db
    build:
      context: ./database
      dockerfile: Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: "Rugby/2004/"
      MYSQL_DATABASE: nordik_adventures
    ports:
      - "8001:8001"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - pgi-networks

networks:
  pgi-networks:

volumes:
  db-data:
