name: PGI
services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - BROWSER=none
      - HOST=0.0.0.0
    ports:
      - "3000:3000"
    networks:
      - pgi-networks
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
  pgi-networks:
